/*
colours:
#faeff8: pinkish white
#b80f0a
#a91b0d
alternate background: https://media.istockphoto.com/vectors/infected-woman-in-a-hospital-vector-id1216231411?k=6&m=1216231411&s=612x612&w=0&h=avxSgApVMEwcGshamXU22VVTOgPqHTxk1sbof6uzAjA=
*/

html
{
    
    color: #5b6060;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
        
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Numans');

#main{
background-color:#faeff8;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background-size: 100% 60%;
  
    
}
.navbar
{
    background-color: #fe8118;
    
}

.fa-car
{
    font-size: 50px;
    color: #000000 !important;
    transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.fa-car:hover
{
    color: #ffffff !important;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    display: inline;
    
  /*background-color: #333333;*/
}

.nav-item {
  float: right;
    
}

.nav-item {
  display: block;
  text-align: center;
  padding-right: 30px;
  text-decoration: none;
  
}
.nav-link
{
    color: #000000 !important;
     transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.nav-link:hover
{
 color: #ffffff !important;

}
.box
{
    height: 50px;
    width: 110px;
    position: relative;
    border-radius: 10px;
    transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
    border:none;
   /* margin-top: 1px;
    padding-top: 2px;*/
   
}
.box:hover
{
    background: #ffffff;
    box-shadow:0 12.5px 10px rgba(0, 0, 0, 0.06);
}
 /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #fff;
}

/* Control the right side */
.right {
  right: 0;
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/84/53/hospital-scene-with-sick-patient-in-bed-on-white-vector-30538453.jpg");
     background-repeat: no-repeat;
    background-size:cover;
      background-position: top;
  background-color: #fff;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
} 

.col-1

{

    flex-basis: 50%;

    min-width: 300px;

}

.form-box

{

    width: 900px;
	height: 600px;
	position: relative;
    top: 50px;
    left: 2px;
	background: rgba(169, 27, 13, 0.71);
    /*box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);*/
    border-radius: 20px;


}
.p1 {
    padding-top: 30px;
  font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}


/*******************************************************LOGIN PAGE*******************************************************************/

#login-page
{
   
height: 100%;
    
    background: url("/img/bg1.jpg");
    background-blend-mode: darken;
     background-size:cover;
    background-repeat: no-repeat;
   
      background-position: top;
  background-color: rgba(10, 9, 9, 0.38);
    
}

.login-box
{

    width: 1400px;
	height: 700px;
	position: relative;
    left: 15%;
    top:80px;
	background: rgba(149, 141, 141, 0.81);
    box-shadow:  0 12.5px 10px rgba(0, 0, 0, 0.06);

    border-radius: 20px;

}
#bigLeftBox {
 
    height: 700px;
    width:50%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    float:left;
    border-radius: 20px 0px 0px 20px ;
}
#bigRightBox {
   
    height: 700px;
    width:50%;
   
    float:right;
}



h1{
    margin-right: 45px;
    margin-top:10px;
    padding: 0 10px 40px;
    text-align: left;
    font-size: 24px;
    color:aliceblue;
}
.loginbox
{
    margin-top: 15%;
    margin-left: 10%;
    padding-left:6%;
    width:600px;
    height:400px;
    border: 0px solid #fff;
    border-radius: 15px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginbox input{
    width: 90%;
    margin-bottom: 20px;
    
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
}
.loginbox input[type="email"]
{
  border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
}

#role
{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-weight: 4px;
    border: none;
    border-bottom: 2px solid;
    
}
.l1
{
    color: #000 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.7; /* Firefox */
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 50px;
    background: #fe8118;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 50px;
    animation-name: onloadAnim;
    animation-duration: 1s;
     box-shadow:  0 12.5px 10px rgba(0, 0, 0, 0.06);
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffffff;
    color: #000;
}

.box1
{
    height: 50px;
    width: 110px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    
}
.nl1:hover
{
    color: #000 !important;
}
.nl2:hover
{
    color: #000 !important;
}

/************************************************************************SIGNUP PAGE***********************************************/
/* contents copied from login page*/
#signup-page
{
   
height: 100%;
    
    background: url("/img/bg1.jpg");
    background-blend-mode: darken;
     background-size:cover;
    background-repeat: no-repeat;
   
      background-position: top;
  background-color: rgba(10, 9, 9, 0.38);
    
}
.signupbox
{
    margin-top: 10%;
    margin-left: 10%;
    padding-left:6%;
    width:600px;
    height:400px;
    border: 0px solid #fff;
    border-radius: 15px;
}

