<!DOCTYPE html>
<html>
    <head>
        <title> Choose slots </title>
        <h1> Choose your preffered slot</h1>
    </head>

    <body>
    <p>Price for one slot is: <%= price %>  </p>
    <br>
    <br>
    <form method="post" action="/user/<%=user_id%>/<%=parking_id%>/choose_slots">
        <% for(var i = 1; i <= number; i++) { %>
            <input id="slot"+i name="grp" type="radio"> slot <%= i %>
            <% if(Unavailable.includes('i')) { %>
                <% var x = "slot"+i ; %>
                <% document.getElementById(x).disabled = true; %>
            <%   } %>
        <%  } %>
                
    <br>
    <input type="submit" id="submit" value="Next" />
    </form>
    </body>
</html>