<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/messages.ejs') %>
    <a href="/login"> Login</a>
    <a href="/Register"> Register</a>
  </body>
</html>
