<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    
    <title>Parkings</title>
</head>

<body>
    <div id="map" style="width:100%; height:500px"></div>
    <h1>All Parkings</h1>
    <ul>
        <% for(let parking of parkings) {%>
            <li><a href="/user/parkings/<%=parking._id%>"><%= parking.title %></a></li>    
        <% } %>  
    </ul>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css">
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const parkings =  { features: <%- JSON.stringify(parkings) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>
</body>

</html>