<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
	</head>

	<body>
		<form action="/user/login" method="post" id="login">
			<label for="category">Category</label>
			<select name="category" id="category" onchange="changeaction()">
				<option value="user">User</option>
				<option value="owner">Parking Owner</option>
			</select>
			<label for="email">Email</label>
			<input
				type="email"
				id="email"
				name="email"
				placeholder="Enter Email"
				required
			/>
			<label for="password">Password</label>
			<input
				type="password"
				id="password"
				name="password"
				placeholder="Create Password"
				required
			/>
			<button type="submit">Login</button>
		</form>
		<a id="googlebutton" href="/auth/google" class="btn red darken-1">
			<i class="fab fa-google left"></i>Log in with google 
		</a>
		<p>No Account? <a href="/register">Register</a></p>
	</body>
</html>

<script>
	function changeaction() {
		const category = document.getElementById("category").value;
		document.getElementById("login").action = "/" + category + "/login";
		var answer=document.getElementById('category').value;
				if (answer == "user") { 
 					 document.getElementById('googlebutton').style.display = "block";
				} else{
 					 document.getElementById('googlebutton').style.display = "none";
				}
	}
</script>
