<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1><%= parking.title %> </h1>
    <h2><%= parking.price %> </h2>
    <h3><%= parking.location %> </h3>
    <footer>
        <a href="/user/<%= user_id %>">All Parkings</a>
    </footer>
</body>

</html>